/********************** CONTAINER COMPONENT **********************/
.chatbox-container {
  position: fixed !important;
  bottom: -12px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out !important;
}

.show {
  opacity: 1;
  visibility: visible;
}

/********************** MESSAGES COMPONENT **********************/
.chatbox-messages-container {
  height: 350px;
  overscroll-behavior: contain contain;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch !important;
}

.chatbox-messages-container .avatar,
.chatbox-messages-container .avatar img {
  width: 28px !important;
  height: 28px !important;
}

/* Send messages */
.sent {
  text-align: right;
}

.sent .content {
  margin: 0 3.5em 0 0 !important;
}

.sent .avatar {
  float: right !important;
}
