/* ---------------------- TABLETTES & SMARTPHONES ----------------------*/
@media screen and (max-width: 768px) {
	.menu-container {
		width: 100% !important;
		box-shadow: none !important;
		border: none !important;

		a {
			display: inline-block !important;
			margin: 2px;
			padding: 8px 20px !important;
			border: 1px solid #e3e3e3 !important;
			border-radius: 5px !important;

			&:before { content: none !important; }
		}
	}
}
