.menu-segment {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999999;
  margin: 0 !important;
  padding: 0 !important;
  height: 55px;

  .right {
    .menu-signup {
      margin-left: 0.5em !important;
      top: -3px !important;
    }
  }
}


/* ---------------------- TABLETTES + SMARTPHONES ----------------------*/
@media screen and (max-width: 700px) {
  .menu-segment {
    div[id=container] {
      margin: 0 !important;

      .menu-container {
        display: block;

        .left { display: block !important; } /* contain the Logo */

        .left, .right {
          margin: 0 !important;
          padding: 0 !important;

          [class~=item] {
            display: none !important;

            &.menu-home {
              text-align: center;
              display: block !important;
            }
          }
        }

        .right {
          position: absolute;
          top: 20px;
          right: 20px;

          .menu-add-note {
            padding-right: 0;
            .dropdown-menu {
              left: inherit !important;
              right: 0 !important;
            }
          }

          .menu-signup {
            padding-left: 12px !important;
            padding-right: 12px !important;
            font-size: 13px !important;
          }
        }

        /* display items in menu */
        .show[class~=item], .show [class~=item] { display: block !important; }
      }
    }
  }
}
