/* ---------------------- TABLETTES + SMARTPHONES ----------------------*/
@media screen and (max-width: 700px) {
  .menu-segment {
    div[id=container] {
      margin: 0 !important;

      .menu-container {
        display: block;

        .right { display: none !important; }
        .left { display: block !important; }

        .left, .right {
          margin: 0 !important;
          padding: 0 !important;

          [class~=item] {
            display: none !important;

            &.menu-home {
              text-align: center;
              display: block !important;
            }
          }
        }
      }
    }
  }
}
