@import '../../../../css/common/colors.scss';

.menu-segment {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;
  margin: 0 !important;
  padding: 0 !important;
  height: 55px;

  .right {
    .menu-auth-for-mobile { display: none; }
    .menu-signup {
      margin-left: 0.5em !important;
      top: -3px !important;

      &:hover, &:focus, &[class~=active] {
        color: $colorLogo !important;
        background: #fff !important;
        box-shadow: none !important;
      }
    }

    .menu-profile {
      .gauge {
        border-bottom: 1px solid rgba(34,36,38,.15);
        color: #000;
        padding: .78571429em 1.14285714em;
        font-size: 12px;
        color: rgba(0,0,0,.87);
        font-weight: 400;

        .title {
          margin-bottom: 7px;
          font-weight: 600;
        }

        .score-progress-bar {
          display: inline-block;
          vertical-align: -10px;
          width: 100px;
          margin: 3px 3px 10px 0;
          background-color: #e4e4e4;
        }

        .percent {
          display: inline-block;
        }

        .note {
          margin-bottom: 3px;
          &.priv { color: red; }
          &.pub { color: green; }
        }
      }
    }
  }
}


/* ---------------------- TABLETTES + SMARTPHONES ----------------------*/
@media screen and (max-width: 700px) {
  .menu-segment {
    div[id=container] {
      margin: 0 !important;

      .menu-container {
        display: block;

        .left { display: block !important; } /* contain the Logo */

        .left, .right {
          margin: 0 !important;
          padding: 0 !important;

          .menu-login, .menu-signup { display: none !important; }

          [class~=item] {
            display: none !important;

            &.menu-home {
              text-align: center;
              display: block !important;
            }
          }
        }

        .right {
          position: absolute;
          top: 20px;
          right: 20px;

          .menu-auth-for-mobile {
            display: block;
            margin-top: -6px;
            .button-auth-for-mobile {
              padding: 8px !important;
              font-size: 13px !important;
              box-shadow: 0 0 0 1px #fff inset!important;
            }
          }

          .menu-add-note {
            padding-right: 0;
            .dropdown-menu {
              left: inherit !important;
              right: 0 !important;
            }
          }
        }

        /* display items in menu */
        .show[class~=item], .show [class~=item] { display: block !important; }
      }
    }
  }
}
