.cm-s-blackboard.CodeMirror, .cm-s-blackboard .CodeMirror-gutters {
    /* height: 800px; */
    background: #2a2d32 !important;
}

.cm-s-blackboard .cm-header {
    color: #dc3957 !important;
}

.CodeMirror {
    border-right: 1px solid #8F938F;
}

.CodeMirror-wrap pre {
    word-break: inherit !important;
}
