/*
This file is used for overload the existant css
*/

body {
    color: #b9bbbe;
}

.ui.text.container {
    max-width: none !important;
}

.ui.basic.button:hover, .ui.basic.buttons .button:hover {
    background: rgba(0, 0, 0, .1) !important;
}

/***************************** FORMS ******************************/
.ui.input { color: #fff; }
.ui.form .field.field input:-webkit-autofill:focus { border-color: transparent !important; box-shadow: none !important; }
.ui.form .field.field input:-webkit-autofill { border-color: transparent !important; box-shadow: none !important; }

.ui.segment {
    background: none;
}

.ui.form .field>label {
    color: #b9bbbe;
}
.ui.form input[type=text], .ui.form input[type=text]:focus,
.ui.form input[type=password], .ui.form input[type=password]:focus,
.ui.selection.dropdown, .ui.selection.dropdown:focus,
.ui.form textarea, .ui.form textarea:focus {
    background: none;
    border: 1px solid #404550;
    color: #b9bbbe;
}

.ui.form .field.error input[type=text], .ui.form .field.error input[type=text]:focus,
.ui.form .field.error input[type=password], .ui.form .field.error input[type=password]:focus,
.ui.form .field.error textarea, .ui.form .field.error textarea:focus {
    background: none;
}

/* Input select */
.ui.selection.dropdown:hover, .ui.selection.active.dropdown, .ui.selection.active.dropdown:hover {
    border: 1px solid #b9bbbe;
}

.ui.selection.visible.dropdown>.text:not(.default) {
    color: #b9bbbe;
}

.ui.dropdown .menu {
    background: #2a2d32;
    border: 1px solid #b9bbbe !important;
}

.ui.dropdown .menu>.item:hover, .ui.dropdown .menu .active.item {
    background: #36393f;
    color: #fff;
}

.ui.dropdown .menu .selected.item, .ui.dropdown.selected, .ui.dropdown .menu>.item {
    color: #fff;
}

.ui.selection.dropdown .menu>.item {
    border-top: 1px solid #404550;
}

/***************************** PAGINATION ******************************/
.ui.pagination.menu {
    background: none;
    border: 1px solid #404550;
}

.ui.pagination.menu a {
    color: #b9bbbe;
    border-right: 1px solid #404550;
}

.ui.pagination.menu a:last-of-type {
    border-right: none;
}

.ui.pagination.menu .active.item,
.ui.pagination.menu .active.item,
.ui.menu .active.item:hover,
.ui.menu a.item:hover {
    background-color: #36393f;
    color: #dc3957;
}

/***************************** MESSAGES ******************************/
.ui.message { background-color: #151515; color: #fff; box-shadow: 0 0 0 1px #404550 inset, 0 0 0 0 transparent; }
.ui.message .content p { color: #fff !important; opacity: 1; }

.ui.error.message { background-color: rgba(219,40,40,0.35); color: #fff; box-shadow: 0 0 0 1px #404550 inset, 0 0 0 0 transparent; }
.ui.error.message .content p { color: #fff !important; opacity: 1; }

/***************************** BUTONS ******************************/
/* Default basic */
.ui.basic.button, .ui.basic.buttons .button {
    color: #b9bbbe !important;
    border: 1px solid #404550;
}

.ui.basic.button:hover,
.ui.basic.buttons .button:hover,
.ui.basic.active.button,
.ui.button .active.button:active,
.ui.basic.buttons .active.button,
.ui.basic.buttons .active.button:active,
.ui.basic.button:focus, .ui.basic.buttons .button:focus,
.ui.basic.button:active, .ui.basic.buttons .button:active {
    color: #fff !important;
    border-color: #fff;
}

/* Primary */
.ui.primary.button, .ui.primary.buttons .button {
    box-shadow: none !important;
    background: #dc3957;
    color: #fff !important;
}

.ui.primary.button:hover,
.ui.primary.buttons .button:hover,
.ui.primary.active.button,
.ui.primary.button .active.button:active,
.ui.primary.buttons .active.button,
.ui.primary.buttons .active.button:active,
.ui.primary.button:focus, .ui.primary.buttons .button:focus,
.ui.primary.button:active, .ui.primary.buttons .button:active {
    background: #b42e47;
}

/* Primary basic */
.ui.basic.primary.button, .ui.basic.primary.buttons .button {
    margin: 2px !important;
    box-shadow: none !important;
    background: none;
    border: 1px solid #dc3957;
    color: #b9bbbe !important;
}

.ui.basic.primary.button:hover,
.ui.basic.primary.buttons .button:hover,
.ui.basic.primary.active.button,
.ui.primary.button .active.button:active,
.ui.basic.primary.buttons .active.button,
.ui.basic.primary.buttons .active.button:active,
.ui.basic.primary.button:focus, .ui.basic.primary.buttons .button:focus,
.ui.basic.primary.button:active, .ui.basic.primary.buttons .button:active {
    border: 1px solid #fff;
    background: none;
    box-shadow: none !important;
    color: #fff !important;
}

/* Secondary */
.ui.secondary.button, .ui.secondary.buttons .button {
    background-color: #dc3957;
    color: white !important;
}

.ui.secondary.button:hover,
.ui.secondary.buttons .button:hover,
.ui.secondary.active.button,
.ui.secondary.button .active.button:active,
.ui.secondary.buttons .active.button,
.ui.secondary.buttons .active.button:active,
.ui.secondary.button:focus, .ui.secondary.buttons .button:focus,
.ui.secondary.button:active, .ui.secondary.buttons .button:active {
    background-color: #b42e47;
    color: white;
}

/* Secondary basic */
.ui.basic.secondary.button, .ui.basic.secondary.buttons .button {
    box-shadow: none !important;
    color: #b9bbbe !important;
    border: 1px solid #404550;
}

.ui.basic.secondary.button:hover,
.ui.basic.secondary.buttons .button:hover,
.ui.basic.secondary.active.button,
.ui.secondary.button .active.button:active,
.ui.basic.secondary.buttons .active.button,
.ui.basic.secondary.buttons .active.button:active,
.ui.basic.secondary.button:focus, .ui.basic.secondary.buttons .button:focus,
.ui.basic.secondary.button:active, .ui.basic.secondary.buttons .button:active {
    color: white !important;
    box-shadow: none !important;
    background: #151515 !important;
}

/* Basic grey */
.ui.basic.grey.button, .ui.basic.grey.buttons .button {  }

.ui.basic.grey.button:hover, .ui.basic.grey.buttons .button:hover,
.ui.basic.grey.button:focus, .ui.basic.grey.buttons .button:focus,
.ui.basic.grey.button:active, .ui.basic.grey.buttons .button:active {
    color: #fff !important;
    border-color: #fff;
}

.ui.basic.grey.button, .ui.basic.grey.buttons .button,
.ui.basic.grey.button:hover, .ui.basic.grey.buttons .button:hover,
.ui.basic.grey.button:focus, .ui.basic.grey.buttons .button:focus,
.ui.basic.grey.button:active, .ui.basic.grey.buttons .button:active {
    box-shadow: none !important;
}

/* Basic red */
.ui.basic.red.button, .ui.basic.red.buttons .button { border-color: red; }

.ui.basic.red.button:hover, .ui.basic.red.buttons .button:hover,
.ui.basic.red.button:focus, .ui.basic.red.buttons .button:focus,
.ui.basic.red.button:active, .ui.basic.red.buttons .button:active {
    color: #fff !important;
    border-color: #fff;
}

.ui.basic.red.button, .ui.basic.red.buttons .button,
.ui.basic.red.button:hover, .ui.basic.red.buttons .button:hover,
.ui.basic.red.button:focus, .ui.basic.red.buttons .button:focus,
.ui.basic.red.button:active, .ui.basic.red.buttons .button:active {
    box-shadow: none !important;
}

/* Basic inverted */
.ui.basic.inverted.button, .ui.basic.inverted.buttons .button,
.ui.basic.inverted.button:hover, .ui.basic.inverted.buttons .button:hover,
.ui.basic.inverted.button:focus, .ui.basic.inverted.buttons .button:focus,
.ui.basic.inverted.button:active, .ui.basic.inverted.buttons .button:active {
    box-shadow: none !important;
}

/***************************** MODALS ******************************/
.ui.dimmer { background-color: transparent; }
.ui.modal>.header, .ui.modal>.content, .ui.modal>.actions { background: #151515; color: #b9bbbe; }
.ui.modal>.header { color: #fff !important; }
.ui.modal .header { color: #b9bbbe; }
.ui.modal>.content .menu { background: #151515; }
.ui.modal>.content .CodeMirror { border: 1px solid #404550; }
.ui.modal>.content .CodeMirror, .ui.modal>.content .CodeMirror-gutters { background: #151515 !important; }

.ui.black.button, .ui.black.buttons .button { background-color: #2a2d32; }
.ui.black.button:hover, .ui.black.buttons .button:hover, .ui.black.button:focus, .ui.black.buttons .button:focus, .ui.black.button:active, .ui.black.buttons .button:active { background-color: #1f2125; }

.ui.red.button, .ui.red.buttons .button { background-color: #dc3957; }
.ui.red.button:hover, .ui.red.buttons .button:hover, .ui.red.button:focus, .ui.red.buttons .button:focus, .ui.red.button:active, .ui.red.buttons .button:active { background-color: #b42e47; }

/***************************** MAIN MENU & FOOTER ******************************/
.ui.inverted.segment, .ui.primary.inverted.segment {
    background-color: #dc3957;
}


/****************************** MAIN MENU ******************************/
.ui.secondary.inverted.pointing.menu {
    border: none;
    padding-top: 12px;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    color: #fff !important;
    font-weight: 900;
}

.ui.secondary.inverted.pointing.menu .item {
    align-self: center;
    font-weight: 900;
    padding-top: 0;
    padding-bottom: 5px;
}

.ui.menu .item>img:not(.ui) {
    width: inherit;
}



.ui.grid > .stretched.column:not(.row) > * {
    background-color: transparent;
}

.hljs {
    background: none !important;
    color: inherit !important;
    padding: 0 !important;
}

/****************************** Markdown render ******************************/
.md-column-1 {
    width: 100%;
    padding: 4px;
}

.md-column-2 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding: 4px;
}

.md-column-3 {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    padding: 4px;
}

.md-column-4 {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    padding: 4px;
}

/*********************************** Editor ***********************************/
/* Editor Toolbar */
.ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button {
    background-color: rgba(0,0,0,.6) !important;
}
