/*
This file is used for overload the existant css
*/

.ui.text.container {
    max-width: none !important;
}

/***************************** MAIN MENU & FOOTER ******************************/
.ui.inverted.segment, .ui.primary.inverted.segment {
    background-color: #39b4dc !important;
}


/****************************** MAIN MENU ******************************/
.ui.secondary.inverted.pointing.menu {
    border: none;
    padding-top: 14px;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    color: #fff !important;
    font-weight: 900;
}

.ui.secondary.inverted.pointing.menu .item {
    align-self: center;
    font-weight: 900;
    padding-top: 0;
    padding-bottom: 5px;
}

.ui.menu .item>img:not(.ui) {
    width: inherit;
}



.ui.grid > .stretched.column:not(.row) > * {
    background-color: transparent;
}

.hljs {
    background: none !important;
    color: inherit !important;
    padding: 0 !important;
}

/****************************** Markdown render ******************************/
.md-column-1 {
    width: 100%;
    padding: 4px;
}

.md-column-2 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding: 4px;
}

.md-column-3 {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    padding: 4px;
}

.md-column-4 {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    padding: 4px;
}

/*********************************** Editor ***********************************/
/* Editor Toolbar */
.ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button {
    background-color: rgba(0,0,0,.6) !important;
}