@import '../../../css/common/colors.scss';

/* .toolbar { &.toolbar-settings {...} } used for avoid conflicts CSS with Sementic-ui-react */
.toolbar {
  &.toolbar-settings {
    position: fixed;
    z-index: 9;
    padding: 4px 4px 4px 50px;
    background-color: $colorBg1;
    border-bottom: 1px solid #8F938F;
    width: 100%;

    .button-group {
      border: 1px solid $colorBorder;
      margin: 3px 5px 3px 0;

      [role="button"] { border: none !important; }
      [role="button"]:first-child { border-left: none !important; }

      [role="button"] {
        border-left: 1px solid $colorBorder !important;
        color: white !important;
        &:hover, &:focus, &:active { background-color: #555 !important; box-shadow: none; }
      }

      button[disabled] {
        border-color: #555 !important;
        opacity: 1 !important;
        color: #555 !important;
      }
    }

    .form-properties {
      display: inline-block;
      div[class~=field] {
        display: inline-block;
        margin: 0 5px 0 0 !important;
        vertical-align: 1px;

        /* Input text */
        &.title {
          opacity: 1;
          div[class~=input] {
            width: 120px !important;
            min-width: inherit !important;
            opacity: 1;
            input {
              line-height: 18px;
              background: #141414;
              border: 1px solid #555;
              color: #fff;
            }
          }
        }

        /* Input select */
        &.category {
          opacity: 1;
          div[class~=dropdown] {
            width: 140px !important;
            min-width: inherit !important;
            padding: 11px;
            background: #141414;
            border: 1px solid #555;
            color: #fff;
            opacity: 1;

            div[class~=text] {
              color: #fff;
              background: none;
            }

            div[class~=menu] {
              background: #141414;
              div[class~=item] {
                font-size: 11px;
                color: #fff;
                border-top: 1px solid #555;
              }
              div[class~=item]:hover { background: #333; }
            }
          }
        }

        /* Button */
        button[class~=button] {
          line-height: 14px;
        }

        &[class~=disabled] {
          &.category {
            div[class~=dropdown] {
              i { display: none; }
            }
          }
        }
      }

      /* When Error */
      div[class~=error] {
        /* Input select */
        div[class~=dropdown] {
          div[class~=menu] {
            div[class~=item]:hover { background: #fbe7e7; }
          }
        }
      }

      /* Icon Error */
      .error { margin-right: 8px; }
    }

    .container-buttons-right {
      position: absolute;
      right: 48px;
      top: 0;
      margin: 8px;

      .button-edit, .button-close {
        display: inline-block;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: 0;
        padding: 8px;
        text-decoration: none;
        color: $colorTextMain;
        font-size: 20px;
        margin-top: -3px;

        &.button-close {
          font-size: 24px;
          margin-top: -6px;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .button-group { margin: 3px 5px 3px 0; }
}

/* Offset toolbar */
@media screen and (max-width: 582px) {
  .toolbar {
    &.toolbar-settings {
      .form-properties {
        div[class~=field] {
          &.title div[class~=input] {
            width: 80px !important;
          }

          &.category {
            display: none;
          }
        }
      }
    }
  }
}
