@import '../../../css/common/colors.scss';
$colorFontDarkTheme: #999;

.panel-explorer-container {
  position: absolute;
  min-height: 100%;
  top: 0;
  left: -260px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #333333;
  width: 260px;
  z-index: 5;
  transition: left 350ms cubic-bezier(0.75, 0, 0.175, 1);

  &.menu-open { left: 0; }

  .nav-bar {
    background-color: $colorBgVeryDark;
    height: 48px;

    /*
    padding: 4px;
    div[id="panel-explorer_button-group"] {
      border: 1px solid #888;
      margin: 3px 7px 3px 0;

      [role="button"]:first-child { border-left: none; }
      [role="button"] { border-left: 1px solid #888; color: white !important; }
      button[disabled] { border-color: #888 !important; opacity: 1 !important; color: #555 !important; }
    }
    */
  }

  .panel-explorer-tree-folder-itemslist {
    overflow-x: scroll;
    height: 230px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;

    .message-empty-note {
      position: relative;
      top: 50%;
      margin-top: -5px;
      text-align: center;
      color: $colorFontDarkTheme;
      font-weight: 900;
    }

    a {
      padding: 5px 20px 5px 20px  !important;
      color: $colorFontDarkTheme !important;
      font-weight: 900;
      border-bottom: 1px solid #444;
      transition: .25s !important;

      &:first-child, &:last-child {
        padding: 5px 20px 5px 20px !important;
      }

      &.active-course {
        background-color: #555 !important;
        color: #fff !important;
      }
      &:hover {
        background-color: #555;
      }

      i { color: $colorFontDarkTheme !important; }
    }
  }

  .panel-explorer-properties {
    padding: 0 20px 0 20px;
    margin-top: 18px;
    label { opacity: 1 !important; color: $colorFontDarkTheme !important; &:after { color: white !important; } }
    input, textarea, .select > div { color: #777 !important; font-weight: 900; }

    /* Form input checkbox */
    .checkbox {
      div[class~=checked] {
        input:focus:checked~label, input:checked~label {
          color: #fff !important;
        }
      }
    }

    /* Form input select */
    .form-templates-container {
      background-color: transparent;
      border: 1px solid #555;
      .header { color: $colorFontDarkTheme; }
      .form-templates {
        label { display: inline-block; width: 35px; font-weight: 900 }
        .input-select {
          display: inline-block;
          font-size: 10px;
          color: #777 !important; font-weight: 900;
          margin-bottom: 4px;
          div { font-size: 12px; }
        }
      }
    }
  }
}
