@import '../../../css/common/transitions.scss';
@import '../../../css/common/colors.scss';

.courses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  margin: 0 0 40px 0;
  color: $colorTextMain;

  .course-container-item {
    display: block;
    position: relative;
    margin: 0 15px 15px 0;
    width: 250px;
    height: 340px;
    background-color: $colorBg1;
    border: 1px solid transparent;
    border-radius: 5px;
    /* box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1); */

    &:link, &:visited { text-decoration: none; color: $colorTextMain; @include transition(all .2s); }
    &:hover, &:focus  { text-decoration: none; /* box-shadow: 0 2px 8px 2px rgba(20,23,28,.15); */ border: 1px solid $colorLogo;  }
    &:active          { text-decoration: none; }

    .course-header {
      height: 122px;
      text-align: center;
      font-size: 25px;
      border-bottom: 1px solid $colorBorder;
      padding: 30px 20px 20px 15px;
      color: $colorLogo;

      .subcat {
        font-size: 11px;
        color: $colorTextMain;
        line-height: 13px;
        margin-top: 3px;
      }
    }

    .course-body {
      padding: 30px 20px 0 20px;

      .title {
        text-overflow: ellipsis;
        white-space: normal;
        margin-bottom: 8px;
        line-height: 26px;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.04em;
        color: #fff !important;
      }

      .description {
        margin: 15px 0 15px 0;
        max-height: 80px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .username { font-size: 12px; }
      .date { font-size: 12px; }
    }

    .course-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 20px 20px 20px;


      div[class~=rating] {
        i[class~=icon] {
          color: $colorBorder !important;
        }

        i[class~=active] {
          color: #fbff61 !important;
        }
      }
    }
  }
}

.pagination {
  text-align: center;
}
