.course-add-or-edit-container {
  display: flex;
  flex-direction: row;

  .panel-explorer-container {
    width: 260px;
    background-color: rgba(0,0,0,.05);

    .panel-explorer-nav-bar {
      height: 44px;
      width: 100%;
      background-color: rgba(0,0,0,.1);
      border-bottom: 1px solid rgba(0,0,0,.1);
      padding: 4px;
    }

    .panel-explorer-tree-folder {
      padding: 20px;
      .panel-explorer-tree-folder-itemslist {
        min-height: 260px;

        a { padding: 3px; }
        a.active-course {
          background-color: #a9a9a9;
          color: #fff;
          border-radius: 2px;
        }
      }
    }

    .panel-explorer-properties {
      padding: 20px;
      margin-top: 20px;
    }
  }

  .editor-container-full {
    width: 100%;

    .editor-toolbar {
      height: 44px;
      width: 100%;
      background-color: #1A1A17;
      border-bottom: 1px solid #8F938F;
      padding: 4px;

      .button {
        border: none;
        box-shadow: 0 0 0 1px #8F938F inset !important;
        color: #8F938F !important;
        &:hover {
          background: none !important;
          box-shadow: 0 0 0 1px #fff inset !important;
        }
      }
    }

    .editor-container {
      display: flex;
      flex-direction: row;

      .editor-edition {
        width: 50%;
        border-right: 1px solid rgba(0,0,0,.1);

        .editor-edition-error-message {
          position: absolute;
          bottom: 0;
        }

        form div {
          margin: 0;
          textarea {
            font-size: 14px;
            padding: 20px;
          }
        }
      }
    }
  }
}
