.course-add-or-edit-container {
  display: flex;
  flex-direction: row;

  .editor-container-full {
    width: 100%;

    .editor-toolbar {
      height: 44px;
      width: 100%;
      background-color: #1A1A17;
      border-bottom: 1px solid #8F938F;
      padding: 4px;

      .button {
        border: none;
        box-shadow: 0 0 0 1px #8F938F inset !important;
        color: #8F938F !important;
        &:hover {
          background: none !important;
          box-shadow: 0 0 0 1px #fff inset !important;
        }
      }
    }

    .editor-container {
      display: flex;
      flex-direction: row;

      .editor-edition {
        width: 50%;
        border-right: 1px solid rgba(0,0,0,.1);

        .editor-edition-error-message {
          position: absolute;
          bottom: 0;
        }

        form div {
          margin: 0;
          textarea {
            font-size: 14px;
            padding: 20px;
          }
        }
      }
    }
  }
}
