@import '../../css/common/colors.scss';

.title-home {
  text-align: center;
  color: $colorBombay !important;
}

.courses-container {
  .sub-categories {
    button { margin: 2px !important; }
  }

  .search {
    margin-top: 8px;
  }
}
