@import '../../css/common/colors.scss';

.home-header-segment {
  height: 500px;
  background: url(/img/bg-home.jpg) no-repeat 0px -259px fixed !important;
  background-size: cover !important;

  .home-header-container {
    margin-top: 60px;

    .title {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 0;
      letter-spacing: -0.04em;
    }

    .sub-title {
      font-weight: 100;
    }

    .signup-button {
      display: block;
      width: 160px;
      margin: auto;
    }
  }
}

.home-citation-segment {
  padding: 30px 0 30px 0 !important;
  .title {
    font-weight: 100;
    line-height: 38px;
  }
}

.title-home {
  text-align: center;
  color: $colorBombay !important;
}

.courses-container {
  margin-bottom: 40px;

  .sub-categories {
    button { margin: 2px !important; }
  }
}

/* TABLETTES */
@media screen and (max-width: 768px) {
  .home-header-segment {
    .home-header-container {
      .title {
        font-size: 30px;
      }
    }
  }
}
