@import '../../css/common/colors.scss';

h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: -0.04em;
}

h2 {
  color: white !important;
  margin-bottom: 30px;
}

.sub-title {
  font-weight: 100;
  color: $colorTextMain !important;
}

.title-home {
  text-align: center;
  color: $colorBombay !important;
}

.home-header-segment {
  height: 500px;
  /* background: url(/img/bg-home.jpg) no-repeat 0 0 fixed !important; */
  /* background-size: cover !important; */
  background-color: $colorBgMain !important;

  .home-header-container {
    margin-top: 120px;

    .signup-button {
      display: block;
      width: 160px;
      margin: auto;
    }
  }
}

.home-infos-segment {
  border-top: 1px solid $colorBorder;
  padding: 50px 0 !important;

  .home-infos-container {
    .row {
      display: flex;
      flex-wrap: wrap;
      margin: 100px 0;

      .column {
        &.image { img { max-width: 100%; box-shadow: 6px 30px 30px #080808; } }
        &.description { flex: 1 0 0; margin-left: 30px; }
      }

      &:nth-child(even) {
        div:first-of-type { order: 1; }
        div:last-of-type { order: 2; }
      }

      > div {
        align-self: center;
        &[class~=wide]:first-of-type { padding-bottom: 0 !important; }
        &[class~=wide]:last-of-type { padding-top: 0 !important; }
      }
    }
  }
}

.home-citation-segment {
  padding: 40px 0 !important;
  background-color: $colorLogo !important;

  h2 {
    font-weight: 100;
    line-height: 38px;
  }
}

.home-courses-segment {
  padding: 50px 0 !important;

  .courses-container {
    .categories {
      margin: 20px 0;
      text-align: center;
    }

    .sub-categories {
      button {
        margin: 2px !important;
      }
    }
  }
}

.home-signup-segment {
  padding: 40px 0 !important;
  background-color: $colorLogo !important;

  h2 { margin-bottom: 30px; }

  .signup-button {
    border: 1px solid #fff !important;
  }
}

@media screen and (max-width: 600px) {
  .home-infos-segment {
    .home-infos-container {
      .row {
        .column {
          &.image { flex: inherit !important; }
          &.description { margin-top: 20px; }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-header-segment {
    .home-header-container {
      .title {
        font-size: 30px;
      }
    }
  }

  .home-infos-segment {
    .home-infos-container {
      .row {
        &:nth-child(even) {
          div:first-of-type { order: 2; }
          div:last-of-type { order: 1; }
        }
      }
    }
  }

  .home-courses-segment {
    .courses-container {
      .categories {
        margin-bottom: 12px;
        button { padding: .4em .8em .4em; }
      }

      .sub-categories {
        button { padding: .4em .8em .4em; }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-infos-segment {
    .home-infos-container {
      .row {
        .column {
          &.image { flex: 3 0 0; }
        }
      }
    }
  }
}
