@import '../../css/common/colors.scss';

@mixin init() {
  position: relative;
  overflow: hidden;

  .editor-container-full {
    padding-top: 50px; /* Offset toolbar */
    position: relative;
    margin-left: 0;
    z-index: 1;
    transition: margin-left 350ms cubic-bezier(0.75, 0, 0.175, 1);

    .container-buttons-float {
      position: absolute;
      top: 70px;
      right: 20px;
      z-index: 999;
    }

    &.panel-explorer-open { margin-left: 260px; }

    .toolbar-editor-md {
      background-color: $colorBg1;
      border-bottom: 1px solid $colorBorder;
      width: 100%;
      padding: 4px;

      .button-group {
        border: 1px solid $colorBorder;
        margin: 3px 5px 3px 0;

        [role="button"] { border: none !important; }
        [role="button"]:first-child { border-left: none !important; }

        [role="button"] {
          border-left: 1px solid $colorBorder !important;
          color: white !important;
          &:hover, &:focus, &:active { background-color: #555 !important; box-shadow: none; }
        }

        button[disabled] {
          border-color: #555 !important;
          opacity: 1 !important;
          color: #555 !important;
        }
      }
    }

    .tiny-editor-container {
      // EDITOR
      .editor-edition {}

      // PREVIEW
      .preview {
        margin: 0;
        overflow-x: scroll;
      }
    }

    .md-editor-container {
      display: flex;
      flex-direction: row;

      // EDITOR
      .editor-edition {
        flex: 1 0 53%;

        form div { margin: 0; word-wrap: break-word; word-break: break-word; }
      }

      // PREVIEW
      .preview {
        flex: 1 0 100%;
        margin: 0;
        overflow-x: scroll;
        &.edit-mode {
          flex: 1 0 47%;
          overflow: scroll;
          &.mobile-mode {
            display: none;
          }
        }
      }
    }
  }
}

.course-add-or-edit-container-dark {
  @include init();

  .editor-container-full {
    .md-editor-container {
      .editor-edition {
        /* border-right: 1px solid rgba(0,0,0,.1); */
      }
    }
  }
}

.course-add-or-edit-container-light {
  @include init();

  .editor-container-full {
    .md-editor-container {
      .editor-edition {
        /* border-right: 1px solid rgba(0,0,0,.1); */
      }
    }
  }
}

/* Offset toolbar */
@media screen and (max-width: 410px) {
  .editor-container-full {
    padding-top: 80px !important;

    &.panel-explorer-open { margin-left: 200px !important; }
  }
}
