@import url(https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css);

.dropzone-container {
  .row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: center;
    text-align: center;

    .column {
      border: 1px solid #d4d4d5;
      padding: 5px 15px 15px 15px;

      strong { margin: 8px; }

      .button-set-main-avatar {
        display: block;
        margin: 5px auto;
      }

      .dropzone-input {
        position: relative;
        display: inline-block;
        cursor: pointer;
        border: 2px dashed rgb(102, 102, 102);

        img.avatar { max-width: 150px; }

        .mainAvatar {
          position: absolute;
          top: 0;
          right: 63px;
        }
      }
    }
  }
}

/* ---------------------- TABLETTES ----------------------*/
@media screen and (max-width: 768px) {
  .dropzone-container {
    .row {
      .column {
        .dropzone-input {
          img.avatar { max-width: 120px !important; }
          .mainAvatar { right: 30px; }
        }
      }
    }
  }
}

/* ---------------------- SMARTPHONES ----------------------*/
@media screen and (max-width: 400px) {
  .dropzone-container {
    .row {
      display: block;
      .column {
        border-bottom: none;
        &:last-of-type { border: 1px solid #d4d4d5; }
      }
    }
  }
}
