@import url(https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css);
@import './../../css/common/colors.scss';

.settings-title{
  color: #fff !important;
}

.dropzone-container {
  .row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: center;
    text-align: center;

    .column {
      border: 1px solid $colorBorder;
      padding: 5px 15px 15px 15px;
      margin: 2px;
      color: #fff;

      strong { margin: 8px; }

      .button-set-main-avatar {
        display: block;
        margin: 5px auto;
      }

      .dropzone-input {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 150px;
        cursor: pointer;
        border: 2px dashed rgb(102, 102, 102);

        img.avatar { max-width: 144px; }

        .mainAvatar {
          position: absolute;
          top: 8px;
          right: 63px;

          .label {
            &[class~=ribbon] {
              background-color: $colorLogo !important;
              border-color: #AB2F49 !important;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/* ---------------------- TABLETTES ----------------------*/
@media screen and (max-width: 768px) {
  .dropzone-container {
    .row {
      .column {
        .dropzone-input {
          width: 125px;
          height: 125px;
          img.avatar { max-width: 120px !important; }
          .mainAvatar { right: 30px; }
        }
      }
    }
  }
}
